@import url('https://fonts.googleapis.com/css?family=Lato|Nunito&display=swap');

html {
  scroll-behavior: smooth;
}
* {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
}
section {
  padding: 2em 1em;
}
h3 {
  text-align: center;
  margin: 20px auto;
  font-size: 0.9em;
  font-weight: bolder;
  color: #4a4a4a;
}
input:focus::-webkit-input-placeholder {
  transition: opacity 0.5s ease;
  opacity: 0;
}
i.fa-book-open {
  text-align: center;
  display: block;
  font-size: 24px;
  margin: 15px;
  color: #f6c662;
}
input#new_cb {
  border: 1px solid #CCC;
  border-radius: 1px;
  text-align: center;
  padding: 8px;
  width: 150px;
  margin: -1px auto;
  left: 0;
  position: relative;
  display: block;
  font-weight: 500;
}
input#add_cb {
  border: 1px solid #CCC;
  border-radius: 1px;
  text-align: center;
  padding: 8px;
  width: 168px;
  margin: -1px auto;
  left: 0;
  position: relative;
  display: block;
  font-weight: 500;
}
form#newcb {
  width:550px;
  padding: 1em 0.5em;
  border-bottom: 1px solid #f6c662;
  margin: 0 auto;
}
h1 {
  text-align: center;
  padding-bottom: 15px;
  margin: 0 auto;
  font-size: 2em;
}
.book, .book img, .book::after,
.book::before {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul#my_cb {
  margin: 40px auto;
  display: grid;
  vertical-align: middle;
  grid-template-columns: repeat(4, 1fr);
}

.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  margin: 0 auto;
}

.book {
  cursor: pointer;
  display: block;
  width: 150px;
  height: 220px;
  position: relative;
  background: white;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  -webkit-transition: box-shadow .3s linear;
  transition: box-shadow .3s linear;
}

.book img {
  width: 150px;
  height: 220px;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all .45s ease;
  transition: all .45s ease;
}

.book:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
}
.book:hover img {
  -webkit-transform: rotateY(-25deg);
          transform: rotateY(-25deg);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.book::after,
.book::before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  background: white;
  border: 1px solid #d9d9d9;
}

.book::before {
  left: -3px;
}

.book::after {
  left: -6px;
}
